body {
	background-color: #eee;
    background-image: linear-gradient(to right, rgb(179, 247, 117), rgb(85, 139, 238));
}

input{
    width: 68%;
    border-radius: 5px;
    border-style: solid 0px;
	border: none;
	border-bottom: 1px solid;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.692);
}

label{
    text-align: left;
}

.reporte{
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
    border: 1px solid;
}

button{
    width: 15%;
    background-color: rgba(228, 236, 238, 0.582);
	margin: 30px;
	border-radius: 5px;
	border-style: none;
	padding: 5px;
	transition: 0.4s;
	border: 1px solid;
}

button:hover{
    transform: scale(1.1);
	cursor: pointer;
}
