@media screen and (max-width: 980px){
    .main{
        padding: 35px;
        text-align: center;
        background-color: white;
        margin-top: 50px;
        width: 70%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.692);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
        border: 1px solid;	
        overflow-x: auto;
    }
}

@media screen and (max-width: 360px min-width 651px){


	.main{
        padding: 35px;
        text-align: center;
        background-color: white;
        margin-top: 50px;
        width: 90%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.692);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
        border: 1px solid;	
        overflow-x: auto;
    }
}

body {
	background-color: #eee;
	background-image: linear-gradient(to right, rgb(179, 247, 117), rgb(85, 139, 238));
   /* background-image: url("/imagenes/historia\ clinica.jpg");*/
	/*background-size: 1416px 900px;*/
}

.active:hover{
    background-color: #3498DB;
}

.active{
    text-align: center;
    font-size: 13px;
}

.active a {
    padding: 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: black;
}

.content{
    display: flex;  
    flex-direction: column;
}

.flex{
    display: flex;
    justify-content: space-between;
	margin-left: 20px;
}

.ips{	
    border-radius: 5px;
    padding: 5px;
    width: 120%;
    display: flex;

}

.flex input[type="text"]{
	width: 80%;
	border-radius: 5px;
    border-style: solid 0px;
	border: none;
	border-bottom: 1px solid;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.692);
    display: flex;
	margin-left: 20px;
}

table{
    margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	width: 80%;
	border-collapse: collapse;
	overflow-x: auto;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
}

tr:nth-child(even){
	background-color: rgba(255, 255, 255, 0.692);
}

td{
	background-color: rgba(255, 255, 255, 0.692);
	border: 2px solid #ddd;
	padding: 8px;

}

table th{
	background-color: #4caf50;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}

.main{
	padding: 35px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
    border: 1px solid;	
	overflow-x: auto;
}

button{
    width: 15%;
    background-color: rgba(228, 236, 238, 0.582);
	margin: 30px;
	border-radius: 5px;
	border-style: none;
	padding: 5px;
	transition: 0.4s;
	border: 1px solid;
}

button:hover{
    transform: scale(1.1);
	cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
}